In [16]:
import requests
import pandas as pd

In [17]:
API_URL = "https://www.alphavantage.co/query" 
symbol = ['XOM']

In [18]:
data = { "function": "TIME_SERIES_MONTHLY", 
"symbol": symbol,
"outputsize" : "full",
"datatype": "json", 
"apikey": "input APIKey" }

In [19]:
response = requests.get(API_URL, data) 
response_json = response.json() # maybe redundant

In [20]:
data = pd.DataFrame.from_dict(response_json['Monthly Time Series'], orient= 'index').sort_index(axis=1)
data = data.rename(columns={ '1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Close', '5. volume': 'Volume'})
data = data[[ 'Open', 'High', 'Low', 'Close', 'Volume']]
data.head() # check OK or not

               Open     High      Low    Close     Volume
2021-01-08  85.1500  92.4300  83.8900  91.0800   56665909
2020-12-31  89.2800  94.5600  83.5300  84.4500  224670987
2020-11-30  70.7000  95.8200  69.4000  87.1800  241388094
2020-10-30  71.5100  76.0900  65.1600  69.5000  251171694
2020-09-30  83.2600  84.4900  70.5000  72.0000  256445094